<p> Slowly but surely </p>
<ul> <!--36) Usaremos uma diretiva para exibir uma lista com todos os elementos da nossa propriedade lista.
  Uma diretiva é um código que usarmeos no nosso código HTML e será entendida pelo Angular para fazer algo.
   A diretiva *ngFor que é importada pelo BrowserModule como fizemos anteriormente. *ngFor é usado para um for com código html-->
   <!-- 132) Adicionaremos um listener de click, com onRemovePerson, que é uma função que faremos no componente
  e passaremos person, que é nossa variável local do momento.
  Pulando para o componente persons.component.ts agora-->
  <li *ngFor="let person of personList" (click)="onRemovePerson(person)"> {{person}} </li> <!--37) Agora usamos interpolação de string para imprimir cada valor da diretiva//componente para HTML-->
</ul>
