<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- 15) Conteudo HTML responsável pela página padrão do Angular!!
Porém é importante saber que isso não é um arquivo HTML que será renderizado pelo navegador assim
Angular passa isso para instruções javascript que serão montadas no DOM, renderizando dessa forma.app-root
Caso você inspecione o HTML da pagina, você verá apenas app-root, esse código não será visto lá :)
Mas, se inspecionar de fato o DOM, verá todo o código extra, dentro de app-root
Isso demonstra que Angular é apenas javascript executado na sua pagina carregado e renderizado dinamicamente-->
<!-- 27) Apagando todo o conteudo e colocando aqui a tag, teremos na nossa pagina, exatamente o que colocamos no html -->
<!-- 34) Para ligação de propriedade Angular, se adiciona [] e o nome da propriedade -->
<!-- 42) Adicionando para ser renderizado antes da lista de pessoas-->
<!--68) Adicionando a informação emitida com o output e toda vez que personCreate for executado, executaremos outra função
que no caso será a onPersonCreate, que adicionaremos no app.component.ts, dessa forma sempre que do html, o click chamar a função
para criar a pessoa, automaticamente essa função será chamada no app.component.ts, a OnPersonCreate. No app.component.ts é onde
a lista de pessoas está como persons, então lá adicionaremos a nova entrada!
Porém é importante freezar, que quando a informação é passada pelo emit, temos que usar um identificador especial do Angular
que no caso é o $event. Quando o evento acontecer e for emitido por emit, precisaremos passar para a função $event para não ser perdida a informação-->
<!-- <app-person-input (personCreate)="onPersonCreated($event)"></app-person-input>

<app-persons [personList]="persons"></app-persons> -->
<!-- 35) Como estamos no template de app.component, podemos usar qualquer propriedade de app.component, então usamos a persons para atribuir o valor!
Também poderiamos colocar um valor como = ['michael', 'pedro']. Fazendo dessa foram o valor já é passado-->


<!--70) Agora, vamos dizer que você quer que ao inserir uma pessoa, a listagem seja feita em outra página.
Não será realmente outra pagina pois Angular é Single Page Application, mas, dar a ilusão de outra página.
Pode-se fazer isso usando routing.
Isso essencialmente permite ao Angular ler a URL do seu navegador, e renderizar diferentes informações
de acordo com sua URL para replicar o comportamento de multipage applications.
Para setar routing, se adiciona um novo módulo, que normalmente é app-routing.module.ts-->

<!--85)Adicionamos agora as tags novas router-outlet, uma diretiva do Angular para  roteamento, porém
nossas paginas e bindings pararão de funcionar, pois não usaremos mais a tag diretamente, nem mesmo o binding como antes
então teremos que usar services para voltar a passar dados. -->
